<!-- Validation failure messages -->
<% if @context.present? %>
  <% if @context.errors.any? %>
    <% @context.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new context
</h1>

<hr>

<form action="/create_context" method="post">
  <!-- Label and input for title -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @context.try(:title) %>">
  </div>

  <!-- Label and input for lti_context_id -->
  <div class="form-group">
    <label for="lti_context_id">
      Lti context
    </label>

    <input type="text" id="lti_context_id" name="lti_context_id" class="form-control" value="<%= @context.try(:lti_context_id) %>">
  </div>

  <!-- Label and input for credential_id -->
  <div class="form-group">
    <label for="credential_id">
      Credential
    </label>

    <input type="text" id="credential_id" name="credential_id" class="form-control" value="<%= @context.try(:credential_id) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create context
  </button>
</form>

<hr>

<a href="/contexts">
  Go back
</a>
