<tr>
  <td>
    <%= @check_ins.index(check_in) + 1 %>
  </td>

  <td>
    <%#= check_in.created_at.to_formatted_s(:long) %>
    <%= check_in.created_at.strftime("%-I:%M%P %B %-d, %Y") %>
  </td>

  <td>
    <%#= check_in.created_at.to_formatted_s(:long) %>
    <%if check_in.approved %>
      <i class="fas fa-check text-success"></i>
    <% else %>
    <i class="fas fa-times text-danger"></i>
    <% end %>
  </td>

  <td>
    <div class="btn-group">
      <%#= link_to check_in, class: "btn btn-sm btn-outline-secondary" do %>
        <!-- <i class="fas fa-search-plus fa-fw"></i> -->
      <%# end %>

      <%#= link_to edit_check_in_url(check_in), class: "btn btn-sm btn-outline-secondary" do %>
        <!-- <i class="fas fa-edit fa-fw"></i> -->
      <%# end %>

      <%#= link_to check_in, method: :delete, data: { confirm: "Do you really want to delete this check_in?" }, class: "btn btn-sm btn-outline-secondary" do %>
        <!-- <i class="fas fa-trash-alt fa-fw"></i> -->
      <%# end %>
    </div>
  </td>
</tr>
