<tr>
  <td>
    <%= @check_ins.index(check_in) + 1 %>
  </td>

  <td>
    <%#= check_in.created_at.to_formatted_s(:long) %>
    <%= check_in.updated_at.strftime("%-I:%M%P %B %-d, %Y") %>
  </td>

  <td>
    <%#= check_in.created_at.to_formatted_s(:long) %>
    <%if check_in.approved %>
      <i class="fas fa-check text-success"></i>
    <% else %>
    <i class="fas fa-times text-danger"></i>
    <% end %>
  </td>
  <td>
    <%= check_in.latitude %>
  </td>
  <td>
    <%= check_in.longitude %>
  </td>
</tr>
