.attendance-row-grid {
  display: grid;
  grid-template: 50% 50% / 1fr 5fr;
  width: 100%;
}

.attendance-icon {
  grid-column: span 1;
  grid-row: span 2;
}

.attendance-info {
  grid-column: span 1;
  grid-row: span 1;
}

.attendance-time {
  grid-column: span 1;
  grid-row: span 1;
}
