// Place all the styles related to the meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon-container {
  padding-bottom: 70%;
  position: relative;
  width: 100%;
}

.icon-content {
  height: 100%;
  position: absolute;
}

.button-container {
  padding-bottom: 30%;
  position: relative;
  width: 100%;
}

.button-content {
  height: 100%;
  position: absolute;
}

.responsive-icon-size {
  font-size: 3.5rem;
}

.scales-icon {
  font-size: 2.5rem;
}
@media (max-width: 400px) {
  .responsive-icon-size {
    font-size: 2.2rem;
  }

  .scales-icon {
    font-size: 1.7rem;
  }
}
@include media-breakpoint-up(sm) {
  .responsive-icon-size {
    font-size: 4.5rem;
  }

  .scales-icon {
    font-size: 3rem;
  }
}
@include media-breakpoint-up(md) {
  .responsive-icon-size {
    font-size: 6rem;
  }

  .scales-icon {
    font-size: 4.25rem;
  }

  .button-container {
    padding-bottom: 74.5%;
  }
}
@include media-breakpoint-up(lg) {
  .responsive-icon-size {
    font-size: 5.5rem;
  }

  .scales-icon {
    font-size: 3.75rem;
  }
}
@include media-breakpoint-up(xl) {
  .responsive-icon-size {
    font-size: 6.5rem;
  }

  .scales-icon {
    font-size: 4.5rem;
  }
}